body{

margin:0;

font-family:Arial;

background:#1a0000;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

text-align:center;

}

button{

padding:12px 20px;

border:none;

border-radius:6px;

background:#ff2a2a;

color:white;

font-weight:bold;

cursor:pointer;

}