.sidebar {
    width: 250px;
    background-color: #EADFF0; 
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.sidebar nav ul {
    list-style: none;
    padding: 0;
}
.sidebar nav ul li {
    margin-bottom: 0.5rem;
}
.sidebar nav ul li a {
    text-decoration: none;
    color: #522566; 
    font-weight: bold;
    display: block;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background 0.3s, color 0.3s;
}
.sidebar nav ul li a:hover {
    background-color: #AD74C3; 
    color: #F8EDFB; 
}